---
title: Index
---
<div class="contenedor">
    <section class="contenido">
        <hr>
        <header>
            <h1>Botones para mensajería instantánea</h1>
        </header>

        <a href="#" class="line-btn">Compartir esta URL en Line</a>
        <a href="#" class="whatsapp-btn">Compartir esta URL en Whatsapp</a>
        <hr>
    </section><!-- /.contenido -->
</div><!-- /.contenedor -->