@charset "UTF-8";

@import 'modules/init';
body {
    text-align: center;
    font: {
        family: 'Helvetica', Arial, sans-serif;
        weight: 100;
    }
}
.contenedor {
    position: relative;
    width: 100%;
    padding: {
        top: 1em;
    }
}
.contenido {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
h1 {
    font: {
        size: 1em;
    }
    text: {
        transform: uppercase;
    }
}
$line: #1dcd00;
$whatsapp: #2ba81b;

%base-btn {
    display: inline-block;
    background: {
        size: cover;
    }
    text-indent: -9999px;
}

.line-btn {
    @extend %base-btn;
    background: {
        image: url(../images/line.png);
    }
    width: 100px;
    height: 40px;
}
.whatsapp-btn {
    @extend %base-btn;
    background: {
        image: url(../images/whatsapp.png);
    }
    width: 40px;
    height: 40px;
}